<!DOCTYPE html>
<html>
<head>
    <title>
        Dive & Marine | Bridges in Dublin
    </title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./dist/js/app.min.vue" defer></script>
    <link rel="stylesheet" href="./dist/css/styles.min.css">
    <link rel="stylesheet" href="./dist/css/media.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Montserrat:wght@200;600&display=swap" rel="stylesheet">   
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>
<body>
    <iframe class="map-overview" src="https://www.google.com/maps/d/u/1/embed?mid=1COM-iGVLk1htZOk1gl0FKtLmax4neUBh&z=12" width="640" height="400"></iframe>
    
    
    <div id="app" v-cloak>
        <section id="map-legend">
            <div v-for="area in areas"> 
                <a v-bind:href="'#' + area.id"><h4>{{ area.name }}</h4></a>
                <ol>
                    <li v-for="bridge in area.bridges"><a v-bind:href="'#' + bridge.id">{{ bridge.name }}</a></li>
                </ol>
            </div>
        </section>

        <section v-for="area in areas" v-bind:id="area.id" class="bridge-group">
            <h2><span>{{ area.name }}</span></h2>
            <iframe class="map-overview" v-bind:src="area.map" width="640" height="300"></iframe>
            <article v-for="(bridge, index) in area.bridges" v-bind:id="bridge.id">
                <h3><span>{{ index + 1 }}</span>{{ bridge.name }}  - {{ bridge.number }}</h3>
                <div class="gallery">
                    <a v-bind:href="bridge.image1" target="_blank"><img v-bind:src="bridge.image1"/></a>
                    <a v-bind:href="bridge.image2" target="_blank"><img v-bind:src="bridge.image2"/></a>
                    <a v-if="bridge.image3" v-bind:href="bridge.image3" target="_blank"><img v-bind:src="bridge.image3"/></a>
                </div>
                <p v-if="bridge.time">Pictures taken {{ bridge.time }} tide<br></p>
                <p>Click image to enlarge</p>
                <div class="button-container">
                    <a v-bind:href="bridge.bridgeMap" target="_blank">View on Map</a>
                    <a v-bind:href="bridge.parkingMap" target="_blank">Where to Park</a>
                </div>
                <table id="bridge-details">
                    <tr>
                        <td>
                            <strong>Parking: </strong>
                        </td>
                        <td>
                            {{ bridge.parking }}<br>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Entry: </strong>
                        </td>
                        <td>
                            {{ bridge.entry }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Station: </strong>
                        </td>
                        <td>
                            {{ bridge.station }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Tidal: </strong>
                        </td>
                        <td>
                            {{ bridge.tidal }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Gear: </strong>
                        </td>
                        <td>
                            {{ bridge.gear }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Width: </strong>
                        </td>
                        <td>
                            {{ bridge.width }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Length: </strong>
                        </td>
                        <td>
                            {{ bridge.length }}
                        </td>
                    </tr>
                    <tr v-if="bridge.notes">
                        <td>
                            <strong>Notes: </strong>
                        </td>
                        <td>
                            {{ bridge.notes }}
                        </td>
                    </tr>
                    

                </table>
    
            </article>
        </section> 
        <transition name="fade">
            <div id="page-top" @click="toTop">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                   stroke="#333"
                   stroke-width="1" stroke-linecap="square" stroke-linejoin="arcs">
                <path d="M18 15l-6-6-6 6"/>
              </svg>
            </div>
          </transition>
    </div>
</body>
</html>