@media screen and (min-width:768px){
    #map-legend{
        flex-wrap:nowrap;
        div{
            width:25%;}
    }
    #bridge-details{
        width:80%;
        margin:0 auto;
        td:nth-child(1){
            width:15%;}
    }
}

@media screen and (max-width:767px) {
    section.bridge-group{
        article {
            h3{
                font-size:14px;
            }
            span{
                width: 45px;
                height: 45px;
                line-height: 45px;
                top: -8px;
                position: relative;}
        } 
    }
}