.map-overview {
  width: 100%;
}

#map-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat';
}

#map-legend h4 {
  font-family: 'Antonio';
  font-size: 24px;
}

#map-legend div {
  padding: 20px;
  width: 100%;
}

#map-legend div a {
  color: black;
}

#map-legend div ol {
  counter-reset: list;
  list-style: none;
}

#map-legend div li {
  counter-increment: list;
  position: relative;
  padding: 5px 0;
  line-height: 22px;
}

#map-legend div li:before {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid white;
  font-size: 12px;
  line-height: 20px;
  color: white;
  font-family: 'Antonio';
  content: counter(list);
  margin-right: 5px;
  position: absolute;
  right: 100%;
}

#map-legend div:nth-child(1) {
  background-color: #3689d250;
}

#map-legend div:nth-child(1) li:before {
  background-color: #3689d2;
}

#map-legend div:nth-child(2) {
  background-color: #7cb34250;
}

#map-legend div:nth-child(2) li:before {
  background-color: #7cb342;
}

#map-legend div:nth-child(3) {
  background-color: #f3a83a50;
}

#map-legend div:nth-child(3) li:before {
  background-color: #f3a83a;
}

#map-legend div:nth-child(4) {
  background-color: #9e3eb050;
}

#map-legend div:nth-child(4) li:before {
  background-color: #9e3eb0;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery a {
  width: 30%;
  margin: 0 5px;
}

.gallery a img {
  width: 100%;
  height: auto;
}

section.bridge-group {
  padding: 20px 10px;
}

section.bridge-group h2 {
  font-family: 'Antonio';
  text-align: center;
  font-size: 40px;
}

section.bridge-group article {
  padding: 20px 0;
}

section.bridge-group article h3, section.bridge-group article p {
  text-align: center;
  font-family: 'Antonio';
  text-transform: uppercase;
  font-size: 15px;
}

section.bridge-group article p {
  font-family: 'Montserrat';
}

section.bridge-group article span {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid white;
  font-size: 12px;
  line-height: 20px;
  color: white;
  font-family: 'Antonio';
  display: inline-block;
  margin-right: 10px;
}

section.bridge-group article .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

section.bridge-group article .button-container a {
  background-color: #333;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  font-family: montserrat;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  text-decoration: none;
}

section.bridge-group:nth-child(2) {
  background-color: #3689d220;
}

section.bridge-group:nth-child(2) article h3 span {
  background-color: #3689d2;
}

section.bridge-group:nth-child(3) {
  background-color: #7cb34220;
}

section.bridge-group:nth-child(3) article h3 span {
  background-color: #7cb342;
}

section.bridge-group:nth-child(4) {
  background-color: #f3a83a20;
}

section.bridge-group:nth-child(4) article h3 span {
  background-color: #f3a83a;
}

section.bridge-group:nth-child(5) {
  background-color: #9e3eb020;
}

section.bridge-group:nth-child(5) article h3 span {
  background-color: #9e3eb0;
}

#bridge-details {
  width: 100%;
  font-family: 'Montserrat';
}

#bridge-details td {
  padding: 10px 5px;
}

#bridge-details td:nth-child(1) {
  width: 18%;
  font-family: 'Antonio';
}

#bridge-details tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  #map-legend {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #map-legend div {
    width: 25%;
  }
  #bridge-details {
    width: 80%;
    margin: 0 auto;
  }
  #bridge-details td:nth-child(1) {
    width: 15%;
  }
}

@media screen and (max-width: 767px) {
  section.bridge-group article h3 {
    font-size: 24px;
  }
  section.bridge-group article h3 span {
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: -3px;
    position: relative;
  }
}
/*# sourceMappingURL=styles.css.map */