@mixin flexRules{
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

@mixin coloredNumber{
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid white;
    font-size: 12px;
    line-height: 20px;
    color: white;
    font-family:'Antonio';
}

html {
    scroll-behavior: smooth;
  }

.map-overview{
    width:100%;
}

#map-legend{
    @include flexRules();
    flex-wrap:wrap;
    font-family:'Montserrat';
    font-weight:700;
    h4{
        font-family:'Antonio';
        font-size: 24px;}
    div{
        padding:20px;
        width:100%;
        a{
            color:black;
        }
        ol {
            counter-reset: list;
            list-style: none;}
        li {
            counter-increment: list;
            position: relative;
            padding: 5px 0;
            line-height: 22px;
            &:before {
            @include coloredNumber();
            content: counter(list);
            margin-right: 5px;
            position: absolute;
            right: 100%;}
        }
        &:nth-child(1){
            background-color:#3689d250;
            li:before {
                background-color:#3689d2;}
        }
        &:nth-child(2){
            background-color:#7cb34250;
            li:before {
                background-color:#7cb342;}
        }
        &:nth-child(3){
            background-color:#f3a83a50;
            li:before {
                background-color:#f3a83a;}
        }
        &:nth-child(4){
            background-color:#9e3eb050;
            li:before {
                background-color:#9e3eb0;}
        }
    }
}

.gallery {
    @include flexRules();
    a {
        width:30%;
        margin:0 5px;
        img{
            width:100%;
            height:auto;
        }}
}

section.bridge-group{
    padding:20px 10px;
    h2{
        font-family:'Antonio';
        text-align: center;
        font-size:40px;
    }
    article{
        padding:20px 0;
        h3, p {
            text-align:center;
            font-family:'Antonio';
            text-transform:uppercase;
            font-size:24px;
        }
        p{
            font-family:'Montserrat';
            text-transform:none;
            font-size:12px;
        }
        span{
            @include coloredNumber();
            display: inline-block;
            margin-right: 10px;
            top: -5px;
            position: relative;
        }
        .button-container{
            @include flexRules();
            margin-bottom:10px;
            a{
                background-color: #333;
                padding: 10px 15px;
                margin: 10px;
                border-radius: 5px;
                color: white;
                font-family: montserrat;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: .1em;
                font-size: 12px;
                text-decoration: none;
            }
        }
        &::before{
            content: "";
            width: 40%;
            height: 1px;
            position: absolute;
            left: 30%;
            border-bottom: 1px dotted #333;
        }
    }
    &:nth-child(2){
        background-color:#3689d220;
        article{
            h3 span{
                background-color:#3689d2;
            }
        }

    }
    &:nth-child(3){
        background-color:#7cb34220;
        article{
            h3 span{
                background-color:#7cb342;
            }
        }
    }
    &:nth-child(4){
        background-color:#f3a83a20;
        article{
            h3 span{
                background-color:#f3a83a;
            }
        }

    }
    &:nth-child(5){
        background-color:#9e3eb020;
        article{
            h3 span{
                background-color:#9e3eb0;
            }
        }

    }
}


#bridge-details{
    width:100%;
    font-family:'Montserrat';
    td{
        padding:10px 5px;
        &:nth-child(1){
            width:18%;
            font-family:'Antonio';}
        }
    tr:nth-child(odd){
        background-color:rgba(0,0,0,.1);}
    
}

#page-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgba(255,255,255,.5);
    border-radius: 100%;
}


@media screen and (min-width:768px){
    #map-legend{
        flex-wrap:nowrap;
        div{
            width:25%;}
    }
    #bridge-details{
        width:80%;
        margin:0 auto;
        td:nth-child(1){
            width:15%;}
    }
}

@media screen and (max-width:767px) {
    section.bridge-group article h3{
        span{
            width: 25px;
            height: 25px;
            line-height: 25px;}
    }
} 



